@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #7F77DD;
    --brand-light: #EEEDFE;
    --brand-dark: #3C3489;
    --teal: #1D9E75;
    --teal-light: #E1F5EE;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top);
  }
}
